<?xml version="1.0"?>
<!--
/**
 * ManiyaTech
 *
 * @author        Milan Maniya
 * @package       ManiyaTech_OrderApi
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ManiyaTech_Core::core">
                    <resource id="ManiyaTech_OrderApi::main" title="Order API Settings" translate="title" sortOrder="170">
                        <resource id="ManiyaTech_OrderApi::configuration_menu" title="Configurations" translate="title" sortOrder="10"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="ManiyaTech_Core::config">
                                <resource id="ManiyaTech_OrderApi::orderapiconfig" title="Order API" translate="title" sortOrder="170"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>

