<?xml version="1.0"?>
<!--
/**
 * ManiyaTech
 *
 * @author        Milan Maniya
 * @package       ManiyaTech_OrderApi
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="orderapi" translate="label" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>maniyatech</tab>
            <label>Order API</label>
            <resource>ManiyaTech_OrderApi::orderapiconfig</resource>
            <group id="general" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="ManiyaTech_OrderApi" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Composer Version</label>
                    <frontend_model>ManiyaTech\Core\Block\Adminhtml\System\Config\Composer\Version</frontend_model>
                </field>
                <field id="enabled" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="grand_total_threshold" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Grand Total Threshold</label>
                    <depends><field id="enabled">1</field></depends>
                    <validate>required-entry validate-number</validate>
                    <comment><![CDATA[Only export orders with Grand Total greater than this value.]]></comment>
                </field>
                <field id="export_days" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Export Orders From Last (Days)</label>
                    <depends><field id="enabled">1</field></depends>
                    <source_model>ManiyaTech\OrderApi\Model\Config\Source\ExportDays</source_model>
                    <comment><![CDATA[Choose how many days back to export orders (e.g., 7 = from today to last 7 days).]]></comment>
                </field>
                <field id="order_export_schedule" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Scheduled Order Export</label>
                    <depends><field id="enabled">1</field></depends>
                    <source_model>ManiyaTech\OrderApi\Model\Config\Source\OrderExportSchedule</source_model>
                    <comment><![CDATA[Order Export File Generation in <code><b>var/exportorder</b></code> directory.]]></comment>
                </field>
                <field id="delete_order_export_schedule" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Scheduled Cleanup of Order Export Files</label>
                    <depends><field id="enabled">1</field></depends>
                    <source_model>ManiyaTech\OrderApi\Model\Config\Source\DeleteExportFile</source_model>
                    <comment><![CDATA[Automatic Deletion of Old Order Export Files, <b>Retaining Latest 5</b>]]></comment>
                </field>
                <field id="file_format" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>File Format</label>
                    <depends><field id="enabled">1</field></depends>
                    <source_model>ManiyaTech\OrderApi\Model\Config\Source\Format</source_model>
                    <comment><![CDATA[Select the file format (CSV or XLSX) used for exporting orders and attaching the export file in email notifications.]]></comment>
                </field>
            </group>
            <group id="order_export_settings" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sales Order Grid Settings</label>
                <depends><field id="orderapi/general/enabled">1</field></depends>
                <field id="enable_export_order" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Order Export Action</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="save_file" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>To Save Order Export File</label>
                    <comment><![CDATA[To keep file in <code><b>var/exportorder</b></code> directory.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id="enable_export_order">1</field></depends>
                </field>
                <field id="email_attachment" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Order Export in Email Notification in Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id="enable_export_order">1</field></depends>
                    <comment><![CDATA[Enable to attach the exported order file as an email attachment when order export runs from admin.]]></comment>
                </field>
                <field id="export_fields" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Export Order Attributes</label>
                    <frontend_model>ManiyaTech\OrderApi\Block\Adminhtml\System\Config\Form\Field\OrderExportFields</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends><field id="enable_export_order">1</field></depends>
                    <comment><![CDATA[
                        Add custom order attributes to include in the export file. Each row requires a label and a valid order attribute code.
                    ]]></comment>
                </field>
            </group>
            <group id="email_settings" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Settings</label>
                <depends><field id="orderapi/general/enabled">1</field></depends>
                <field id="enabled_order_report" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Order Report Email Attachment via Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sender" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends><field id="enabled_order_report">1</field></depends>
                </field>
                <field id="to_name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Receiver Name</label>
                    <depends><field id="enabled_order_report">1</field></depends>
                    <validate>required-entry</validate>
                </field>
                <field id="to" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>To Email</label>
                    <validate>validate-emails required-entry</validate>
                    <comment>Comma-separated.</comment>
                    <depends><field id="enabled_order_report">1</field></depends>
                </field>
                <field id="bcc" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bcc Email(s)</label>
                    <validate>validate-emails</validate>
                    <comment>Comma-separated.</comment>
                    <depends><field id="enabled_order_report">1</field></depends>
                </field>
                <field id="template" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends><field id="enabled_order_report">1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>
